# Load Data

In [1]:
import pandas as pd
df = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)

# Check for missing taster names and taster twitter handles

In [2]:
missing_name = df["taster_name"].isna()
missing_tw = df["taster_twitter_handle"].isna()

counts = {
    "no_name_yes_twitter": (missing_name & ~missing_tw).sum(),
    "yes_name_yes_twitter": (~missing_name & ~missing_tw).sum(),
    "no_name_no_twitter": (missing_name & missing_tw).sum(),
    "yes_name_no_twitter": (~missing_name & missing_tw).sum(),
}
counts

{'no_name_yes_twitter': np.int64(0),
 'yes_name_yes_twitter': np.int64(98758),
 'no_name_no_twitter': np.int64(26244),
 'yes_name_no_twitter': np.int64(4969)}

Conclusion:
If taster have twitter handle, then he has a twitter name

# Twitter handles with more than one taster name

In [3]:
multi = (
    df.dropna(subset=["taster_twitter_handle"])
      .groupby("taster_twitter_handle")["taster_name"]
      .nunique()
      .gt(1)
)

multi.any()
multi[multi].index

Index(['@worldwineguys'], dtype='object', name='taster_twitter_handle')

In [4]:
df.loc[df["taster_twitter_handle"].isin(multi[multi].index),
       ["taster_twitter_handle", "taster_name"]].drop_duplicates()

    taster_twitter_handle    taster_name
202        @worldwineguys  Mike DeSimone
219        @worldwineguys   Jeff Jenssen

Conclusion:
There is only one twitter handle with two taster names. We can safely delete column taster_twitter_handle from the dataset as it will not be useful for solving our problem.